# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache/options directory
.vs/

# Visual Studio Code
.vscode/
*.code-workspace

# Rider
.idea/
*.sln.iml
*.DotSettings.user

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Local History for Visual Studio
.localhistory/

# IntelliJ based IDEs
out/

# Gradle cache directory
.gradle/

# Covers VS Code extensions you may want to be ignored by git
extensions.json
settings.json

# OS
.DS_Store
Thumbs.db

# NuGet
*.nupkg
*.snupkg
.nuget/

# dotnet
project.lock.json
project.fragment.lock.json
artifacts/

# Runtime
*.dll
*.exe
*.so
*.dylib

